*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    font-family: Helvetica, arial, sans-serif;
    background-color: black;
}

header .logo{
    text-align: center;
}

.titulo{
    font-size: 30px;
    color: white;
    padding-top: 30px;
    text-align: center;
}


main ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
    cursor: pointer;
}

.caixa{
    width: 20%;
    text-align: center;
    padding-top: 60px;
    font-size: 20px;
    color: gray;
}

.caixa img{
    width: 190px;
    height: 200px;
    border-radius: 0.3cm;
}

.caixa:hover{
    color: white;
}

.caixa:hover img{
    border: 2px solid white;
}

.post p{
    padding-top: 20px;
}

.gerenciar{
    padding-top: 40px;
    width: 200PX;
    height: 200px;
    position: relative;
    margin: auto;
}

#gperfis{
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    border-radius: 0.2cm;
}

#gperfis:hover{
    background-color: white;
    color: black;
}
